.bandeiraEua{
    background-color:burlywood;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fx_vermelho{
    flex: 1;
    background-color: red;
}

.fx_branca{
    flex: 1;
    background-color: rgb(255, 255, 255);
}

.quadradoAzul{
    width: 150px;
    height: calc(100%/14*7);
    position: absolute;
    background-color:rgb(0, 0, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    box-sizing:  border-box;
    gap: 7px;
}

.estrela{
    background-color: blanchedalmond;
    width: 7px;
    height: 7px;
    clip-path: polygon(

        /* Ponta superior */
        50% 0%,

        /* Vale superior direito */
        61% 35%,

        /* Ponta direita */
        98% 35%,

        /* Vale inferior direito */
        68% 57%,

        /* Ponta inferior direita */
        79% 91%,

        /* Ponta inferior */
        50% 70%,

        /* Ponta inferior esquerda */
        21% 91%,

        /* Vale inferior esquerdo */
        32% 57%,

        /* Ponta esquerda */
        2% 35%,

        /* Vale superior esquerdo */
        39% 35%)
}
.bandeira{
        width: 300px;
        height: 200px;
        background-color: aliceblue
}


