.bandeira{
    display: flex;
    /* flex-direction: column; */
    height: 300px;
    width: 400px;
}


.fx-verde{   
    background-color: green;
    flex: 1;
}

.fx-branco{
    background-color: white;
    flex: 1;
}

.fx-vermelho{
    background-color: red;
    flex: 1;
}


.retangulo{
    padding-top: 2px;
    margin-top: 40px;
    background-color: green;
    width: 470px;
    height: 300px;
}

.losangulo{
    width: 470px;
    height: 300px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bola{
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bandeiraFranca{
    display: flex;
    /* flex-direction: column; */
    height: 300px;
    width: 400px;
}

.bandeiraFranca {
    padding-top: 2px;
    margin-top: 40px;
}


.azul1{   
    background-color: rgb(0, 26, 255);
    flex: 1;
    
}

.branco{
    background-color: white;
    flex: 1;
}

.vermelho{
    background-color: red;
    flex: 1;
}


.bandeiraAlemanha {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    margin-top: 40px;
    height: 300px;
    width: 400px;
}

.Vermelho2 {
    background-color: red;
    flex: 1;
}

.amarelo{
    background-color: yellow;
    flex: 1;
}

.preto{
    background-color:black;
    flex: 1;
    
}

.bandeiraColombia {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    margin-top: 40px;
    height: 300px;
    width: 400px;
}

.c-amarelo {
    background-color: yellow;
    flex: 1;
}


.c-azul{
    background-color:rgb(0, 4, 240);
    flex: 1;
    
}

.c-vermelho{
    background-color: red;
    flex: 1;
}

.bandeiraJapon{

}

.j-retangulo{
    padding-top: 2px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    width: 470px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.j-bola{
    background-color: rgb(241, 9, 9);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bandeiraEmirados{
    display: flex;
    padding-top: 2px;
    margin-top: 40px;
    height: 300px;
    width: 400px;
}

.em-vermelho{
    background-color: red;
    flex: 1;

}

.caixa1{
    flex: 3;
    display: flex;
     flex-direction: column;
}


.em-preto{
    flex: 1;
    background-color:rgb(2, 2, 2)
}

.em-branco{
    flex: 1;  
    background-color:rgb(255, 255, 255)
}

.em-verde{
    flex: 1;
    background-color:rgb(3, 99, 27)
}


.bandeiraSuecia{
    padding-top: 2px;
    margin-top: 40px;
    height: 300px;
    width: 400px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertBranco {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
}

.horizBranco{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 200px;
    position: absolute;
}

.bandeiraJordania{
    display: flex;
    padding-top: 2px;
    margin-top: 40px;
    height: 300px;
    width: 400px;
    align-items:center
    /* background-color:rgb(0, 26, 255) */
    /* flex-direction: column; */
    
}


.jor-caixa{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.jor-preto{
    flex: 1;
    background-color:rgb(2, 2, 2)
}

.jor-branco{
    flex: 1;  
    background-color:rgb(255, 255, 255)
}

.jor-verde{
    flex: 1;
    background-color:rgb(3, 99, 27)
}

.jor-triangulo{
    height: 300px;
    width: 150px;
    background-color: red;
    position: relative;
    position: absolute;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.jor-estrela{
    width: 50px;
    height: 50px;
    background: rgb(252, 252, 252);
    position: absolute;
    /* margin-top: 23%; */
    left: 30px;
    clip-path: polygon(

        /* Ponta superior */
        50% 0%,

        /* Vale superior direito */
        61% 35%,

        /* Ponta direita */
        98% 35%,

        /* Vale inferior direito */
        68% 57%,

        /* Ponta inferior direita */
        79% 91%,

        /* Ponta inferior */
        50% 70%,

        /* Ponta inferior esquerda */
        21% 91%,

        /* Vale inferior esquerdo */
        32% 57%,

        /* Ponta esquerda */
        2% 35%,

        /* Vale superior esquerdo */
        39% 35%
    );
}

.bandeiraTrinidai{
    background-color: red;
    display: flex;
    position: relative;
    padding-top: 2px;
    margin-top: 40px;
    height: 270px;
    width: 400px;
    overflow: hidden;
    align-items:center    
}

.tri-faixaBranca{
    background-color:rgb(255, 255, 255);
    height: 85px;
    width: 485px;
    left: -34px;
    position:absolute;
    transform: rotate( -32deg);
    -webkit-transform: rotate( -32deg);
    -moz-transform: rotate( -32deg);
    -ms-transform: rotate( -32deg);
    -o-transform: rotate( -32deg);
}

.tri-faixaPreta{
    background-color:rgb(0, 0, 0);
    height: 50px;
    width: 565px;
    left: -30px;
    top: 20px;
    position:absolute;
    transform: rotate( -0deg);
    -webkit-transform: rotate( -0deg);
    -moz-transform: rotate( -0deg);
    -ms-transform: rotate( -0deg);
    -o-transform: rotate( -0deg);
}

.bandeiraTurqui{
    background-color:rgb(244, 7, 7);
    margin-top: 50px;
    position: absolute;
    width: 400px;
    height: 300px;
    display: flex;
}


.Tur-lua{
    background-color:rgb(255, 255, 255);
    width: 130px;
    height: 200px;
    position: relative;
    left: 70px;
    margin-top: 50px;
    clip-path:circle()
}

.tur-lua2{
    background-color:rgb(244, 7, 7);
    width: 110px;
    height: 200px;
    position: relative;
    left: -30px;
    margin-top: 50px;
    clip-path:circle()
}

.tur-estrela{
    width: 50px;
    height: 50px;
    background: rgb(252, 252, 252);
    position: absolute;
    /* margin-top: 23%; */
    left: 240px;
    margin-top: 110px;
    clip-path: polygon(

        /* Ponta superior */
        50% 0%,

        /* Vale superior direito */
        61% 35%,

        /* Ponta direita */
        98% 35%,

        /* Vale inferior direito */
        68% 57%,

        /* Ponta inferior direita */
        79% 91%,

        /* Ponta inferior */
        50% 70%,

        /* Ponta inferior esquerda */
        21% 91%,

        /* Vale inferior esquerdo */
        32% 57%,

        /* Ponta esquerda */
        2% 35%,

        /* Vale superior esquerdo */
        39% 35%
    );
}
